.spinner {
  display: inline-block;
  border: 4px solid var(--neutral-color-600);
  border-top-color: var(--primary-color-500);
  border-radius: 50%;
  animation: spinner-rotate 0.8s linear infinite;
}

.spinner--small {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 2px;
}

.spinner--medium {
  width: 3rem;
  height: 3rem;
  border-width: 4px;
}

.spinner--large {
  width: 4rem;
  height: 4rem;
  border-width: 5px;
}

@keyframes spinner-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
