:root {
  --weather-icon-size-small: 1.5rem;
  --weather-icon-size-medium: 2rem;
  --weather-icon-size-large: 3rem;
  --weather-icon-size-xlarge: 4rem;
}

.weather-icon {
  display: inline-block;
}

.weather-icon--small {
  font-size: var(--weather-icon-size-small);
}

.weather-icon--medium {
  font-size: var(--weather-icon-size-medium);
}

.weather-icon--large {
  font-size: var(--weather-icon-size-large);
}

.weather-icon--xlarge {
  font-size: var(--weather-icon-size-xlarge);
}

.weather-icon--day {
  filter: brightness(1.1);
}

.weather-icon--night {
  filter: brightness(0.8);
}
